*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(223, 221, 221);
}
.nav{
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    display: flex;
}

.nav a{
    text-decoration: none;
    padding: 15px;
    color: rgb(35, 33, 33);
    float: right;
    font-family: book antiqua;
}
.header{
    background-color: rgb(255, 173, 80);
    margin: 2px 15px 2px 15px;
    border-radius: 10px;
}
.info{
    margin: 20px 0px 20px 0px;
    padding: 20px;
    color: rgb(34, 34, 34);
    font-size: 30px;
}
.hover:hover{
    color: rgb(238, 127, 0);
    font-weight: 700;
    text-decoration: underline;
    
}
h1{
    color: rgb(27, 58, 255);
    font-size: 80px;
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: none;
    background-color: rgb(182, 236, 57);
}