.main{
    background-color: black;
    padding: 10px;
    display: flex;
}
.first{
    background-color: aquamarine;
    padding: 10px;
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    background-color: chartreuse;
    padding: 10px;
    height: 400px;
    width: 50%;
}